@model MyCoffeeShop.Models.Feedback;
@{
    ViewData["Title"] = "SubmitFeedback";
}

<h1>SubmitFeedback</h1>

<h2>@Model.FirstName @Model.LastName is leaving a rating</h2>
<h2>Rating: @Model.Rating</h2>
<h2>Message: @Model.FeedbackMsg</h2>


